* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgb(241, 245, 241);
}
body::-webkit-scrollbar {
  display: none;
}
#navbar {
  background-color: rgb(226, 232, 240);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 8vh;
  align-items: center;
}
#navbar a h2 span {
  background-color: rgb(226, 232, 240);
}
#navbar a {
  background-color: rgb(226, 232, 240);
}
a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: black;
}
a:visited,
a:hover,
a:focus {
  color: black;
}
#link-div {
  display: flex;
  flex-direction: row;
  width: 10vw;
  justify-content: space-between;
  background-color: rgb(226, 232, 240);
}
#link-div a:hover {
  text-decoration: underline;
}
input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 3px;
  height: 5vh;
  width: 13vw;
  outline: none;
}
input:active,
input:focus,
input:hover {
  border: none;
}
#search-icon {
  background-color: #fff;
  height: 2vh;
  width: 2vw;
  border: none;
  color: rgb(78, 78, 78);
  cursor: pointer;
}
#navbar form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 6vh;
  width: 17vw;
  border-radius: 5px;
}
#navbar form button {
  border: none;
  background-color: #fff;
}
.text {
  width: 100vw;
  height: 54vh;
  padding: 10vh 50vw 20vh 10vw;
  line-height: normal;
}
.text h1 {
  font-size: 60px;
  line-height: 90%;
  margin-bottom: 30px;
  color: rgb(51, 65, 85);
}
.text p {
  margin-bottom: 30px;
  color: rgb(167, 163, 175);
}
.text a {
  font-weight: 700;
}
.text a:hover {
  text-decoration: underline;
}
.text a:hover,
.text a:focus,
.text a:visited {
  color: blue;
}
#images-div {
  width: 100vw;
  display: flex;
  overflow: hidden;
}
.images {
  position: relative;
  margin-bottom: 10vh;
}
.images::-webkit-scrollbar {
  display: none;
}
.images img {
  width: 100vw;
  height: auto;
  transition: translate 300ms ease-in-out;
}
#left-button,
#right-button {
  all: unset;
  position: absolute;
  width: 5%;
  height: 100%;
  top: 0;
  transition: background-color 100ms ease-in-out;
  display: flex;
}
#right-button {
  right: 0;
}
#left-button:hover,
#right-button:hover {
  cursor: pointer;
  background-color: #ffffff39;
}
#left-arrow,
#right-arrow {
  all: unset;
  color: rgba(0, 0, 0, 0.673);
  width: 70%;
}
#right-arrow {
  position: relative;
  left: 30%;
}
#listings {
  width: 100vw;
  padding-left: 15vw;
}
#listings h3 {
  font-size: x-large;
  color: rgb(71, 85, 105);
}
#listings a,
#listings a:hover,
#listings a:visited,
#listings a:focus {
  color: rgb(30, 64, 190);
  font-size: small;
}
#listings a:hover {
  text-decoration: underline;
}
#recent,
#recent-sale,
#recent-rent {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  width: 20vw;
  height: 52vh;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.image-contianer {
  width: 20vw;
  height: 30vh;
  background-color: #fff;
  overflow: hidden;
}
.card-image {
  width: 20vw;
  height: 30vh;
  border-radius: 5px 5px 0px 0px;
  transition: transform 100ms ease-in-out;
  background-color: #fff;
}
.card-image:hover {
  transform: scale(1.05);
}
.card-text * {
  background-color: #fff;
}
.card-text {
  border-radius: 0 0 5px 5px;
}

#login,
#sign-up {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login p,
#sign-up p {
  font-size: xx-large;
  font-weight: 500;
}
#login form,
#sign-up form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#login form input,
#sign-up form input {
  margin: 10px 0px 10px 0px;
  width: 25vw;
  height: 7vh;
  padding: 10px;
  font-size: medium;
}

#login button,
#sign-up button {
  all: unset;
  margin-bottom: 20px;
  width: 25vw;
  height: 5vh;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}
#card-link {
  text-decoration: none;
}

#user-container {
  height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 15vh;
  flex-direction: column;
}

#user-content {
  text-align: center;
}

#user-content p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-large;
  font-weight: bold;
  color: #050608;
}

#user-post {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#user-comment {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#user-post button,
#user-comment button {
  all: unset;
  cursor: pointer;
  background-color: #334155;
  color: #e2e8f0;
  width: 20vw;
  height: 5vh;
  text-align: center;
  border-radius: 5px;
}

#user-post-container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#comments-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.comment-link {
  background-color: #fff;
  margin-bottom: 20px;
}
.comment-link:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#type input,
#offer input,
#parking input,
#furnished input {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
#type label,
#offer label,
#parking label,
#furnished label {
  font-size: large;
  margin-right: 30px;
}
